@import '../SCSS/bootstrap-custom.scss';
@import '../bootstrap/scss/bootstrap.scss';
@import '_header.scss';
@import '_footer.scss';
@import '_news-card.scss';
@import './experimental.scss';


// Footer at bottom

body,html{
    min-height: 100vh;
}
body{
    min-width: 320px;
    display: flex;
    flex-direction: column;
    main{
        display: flex;
        flex-direction: column;
        flex-grow: 1;

    }
    main,header,footer{flex-shrink: 0;}
}
// -----------------------------------------

.inner-page{
    @include font-size(14px);
    a{
        color:inherit;
        font-weight: 600;
        text-decoration: none;
        &:hover{text-decoration: underline}
    }
    &.about{
        article.post{
            border-bottom: 1px solid #000;
            @media (min-width: 768px) {
                border:0;
            }
            h3{
                @include font-size(18px);
                font-weight: 500;
            }
            img{
                @media (max-width: 991px) {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        article:not(.post){
            @media (min-width: 768px) {
                border-bottom: 1px dashed #000;
            }
        }
        h2,h3{
            @include font-size(17px);
            @media (min-width: 768px) {
                @include font-size(17px);
            }
            @media (min-width: 992px) {
                @include font-size(24px);
            }

        }
    }
    &.terms{
        h2{
            @include font-size(24px);
        }
    }
    &.category{
        color:#333;
        .title{
            @include font-size(22px);
            font-weight: 600;
            line-height: 1.2;
        }
    }
    article.hero{
        .card-title{
            @include font-size(30px);
            font-weight: 600;
            line-height: 1.16;
            color: #000;
        }
    }
    .large.news .card-text{
        color:#333;
        @include font-size(16px);
        font-weight: 500;
        line-height: 1.375;

    }
}

.news-detail{
    .title{
        @include font-size(22px);
        line-height: 1.5;
        font-weight: 600;
    }
}
.section-title{
    font-size: 13px;
    line-height: 1.1;
    font-weight: 500;
    text-transform: uppercase;
    p{
        border-width: 2px !important;
    }
}
.fa {
    font: normal normal normal 12px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%
}

.offcanvas{
    box-shadow: 4px 0 6px 1px rgb(0 0 0 / 10%);
    border-right: 1px solid #ccc;
}

#offcanvasExample{
    max-width: 230px;
    .dropdown-toggle::after{display: none;}

    .fa-angle-right{
        float: right;
        margin-top: 3px;
        font-size: 14px;
        color: #000;
    }
    ul{
        li{
            a{
                display: block;
                color: #000;
                font-weight: 600;
                padding: 4px 5px 4px 15px;
                font-size: 13px;
                font-weight: 500;
                text-decoration: none;
                text-align: left;
                &:hover{
                    color:#4db2ec;
                }
            }
            .dropdown-menu{
                top: 0!important;
                border: 1px solid #ccc;
                margin-left: -15px;
                padding: 10px 5px;
                min-width: 219px;
                border-radius: 0;
                left: 100%!important;
                height: auto;
                position: absolute;
                z-index: 5;
                background-color: #fff;
                float: left;
                &:before,&:after{
                    position: absolute;
                    pointer-events: none;
                    content: " ";
                    height: 0;
                    width: 0;
                    border: solid transparent;
                    border-color: transparent;
                }
                &:before{
                    right: 100%;
                    top: 18px;
                    border-right-color: #ccc;
                    border-width: 11px;
                    margin-top: -11px;
                }
                &:after{
                    right: 100%;
                    top: 18px;
                    border-right-color: #fff;
                    border-width: 10px;
                    margin-top: -10px;
                }
            }
            &.open{
                .dropdown-menu{display: block;}
            }
        }
    }
}

#offcanvasComments{
    width: 88vw !important;
    @media (min-width: 768px) {
        width: 70vw !important;
    }
    @media (min-width: 992px) {
        width: 42vw !important;
    }
    .btn-close{
        position: absolute;
        padding: 10px;
        left: -32px;
        top: 10px;
        border-right: 0;
        border-radius: 5px 0 0 5px;
        cursor: pointer;
        color: #909090;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: -4px 0 6px 1px rgb(0 0 0 / 10%);
        opacity: 1;
        margin: 0;
        font-size: 10px;
        font-weight: bold;
    }
    .offcanvas-header{
        > span{
            font-size: 18px;
        }
    }
    .nav-link{
        color:#000;
        &.active{
            color:#555;
        }
    }
}

a#search-modal{
    background-color: #d2d2d2;
    .fa{
        @media (max-width: 767px) {
            font-size: 15px;
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
    }
}

div#searchModal{
    .modal-content{
        background-color: transparent;
        border:0;
    }
    form{
        .form-control{
            background-color: transparent;
            box-shadow: none;
            border: 0;
            border-bottom-color: currentcolor;
            border-bottom-style: none;
            border-bottom-width: 0;
            border-bottom: 3px solid #fff;
            height: 55px;
            color: #fff;
            border-radius: 0;
            font-size: 1rem;
            padding-left:15px;
            // Add outline-accessibility.
            &:focus{
                //outline: 1px dotted red;
            }
        }
        .btnSearch{
            position: absolute;
            top: 0px;
            right: 0px;
            color:#fff !important;
            font-size:28px;
            padding: 7px 6px;
            .fa-search{
                font-size: inherit;
            }
        }
        div#data_search_result{
            position: absolute;
            left:0;
            top:55px;
            width: 100%;
        }
        ::placeholder{color:#fff}
    }
}
.breadcrumb{
    font-weight: 600;
    li{
        &:last-child{
            &:after{
                content:var(--bs-breadcrumb-divider, "/") /* rtl: var(--bs-breadcrumb-divider, "/") */;
                position: relative;
                padding-left: var(--bs-breadcrumb-item-padding-x);
                display: inline-block;
                vertical-align: middle;
            }
        }
        a{
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.social-icons{
    .fa-brands{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        color: #fff;
        transition: .3s;
        font-size: 15px;
        &:hover{
            transition: .3s;
            opacity: .8;
        }

    }
    a{
        margin: 3px 0;
        color: #fff;
        display: block;
        font-size: 13.5px;
        transition: .3s;
        opacity: .8;
        text-decoration: none;
        &:hover{
            text-decoration: none;
        }
    }
    .fa-facebook-f{
        background-color: #1b3373;
    }
    .fa-twitter {
        background-color: #42baef;
    }
    .fa-instagram {
        background-color: #204881;
    }
    .fa-pinterest-p {
        background-color: #b90a0f;
    }
    .fa-linkedin-in {
        background-color: #164aa1;
    }
    .fa-whatsapp {
        background-color: #4DC247;
    }
}
footer .social-icons{
    a{
        margin: 10px 0;
    }
    .fa-brands{
        border: 2px solid #313131;
        border-radius: 0;
        width: 38px;
        height: 38px;
        font-size: 17px;
    }
}
.Vcount{
    min-width: 30px;
    min-height: 20px;
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: #000;
    font-size: 15px;
    position: relative;
    display: block;
    color:#fff !important;
    font-weight: 600;
    &:hover{
        text-decoration: none;
    }
    &:before{
        position: absolute;
        content: '';
        border-width: 6px 10px 0 0;
        left: 16px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 8px 0 0;
        border-color: #000 transparent transparent;
        position: absolute;
        bottom: -7px;
    }
}
.cust-breadcrumbs{
    ul{
        li{
            a,span{
                background-color: #121212;
                color: #fff;
                padding: 7px 9px;
                font-size: 14px;
                font-weight: 600;
                text-decoration: none;
                transform: skew(20deg,10deg);
                -webkit-transform: skew(20deg,10deg);
            }
            a:hover{
                text-decoration: none;
            }
            &.active span{
                background-color: #ed232a;
            }
        }
    }
}
.sidebar{
    border-top: 2px solid #000;
}
.post{
    h3{
        @include font-size(18px);
    }
    .date{
        @include font-size(16px)
    }
}
form.category-search{
    .form-control{
        border:0;
        border: solid #ccc;
        border-width: 1px 0 1px 1px;
    }
    .input-group{
        button{
            border: 0;
            border: solid #ccc;
            background: transparent;
            border-width: 1px 1px 1px 0px;
            border-top-right-radius: 0.375rem;
            border-bottom-right-radius: 0.375rem;
        }

    }
    .input-group-text{
        border:0;
        background-color: transparent;
        padding: 0;
        &:before{
            font-size: 20px;
        }
    }

}
form.vidSearchForm{

     .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating){

         border-top-right-radius: 0.375rem;

         border-bottom-right-radius: 0.375rem;

         }

     .input-group{

         a{

             position: absolute;

             right: 10px;

             top:50%;

             transform: translateY(-50%);

             z-index: 5;

             i{

                 font-size: 23px;

                 }

             }

         }

}
.border-dashed{
    border: dashed;
}
