/* Apply shimmer effect to the shimmering elements */
.shimmer {
    background: linear-gradient(to right, rgba(120, 112, 112, 0.1) 0%, rgba(120, 112, 112, 0.3) 50%, rgba(120, 112, 112, 0.1) 100%);
    background-size: 1000px 100%;
    animation: shimmer 1.5s infinite;
}

/* Add spacing and styling for the shimmering elements */
.shimmer-container {
    margin-bottom: 20px;
    min-height: 70px;
}

.shimmer-line {
    height: 10px;
    margin-bottom: 10px;
}
.shimmer-bold-line {
    height: 20px;
    margin-bottom: 10px;
}
.shimmer-image-line {
    height: 180px;
    margin-bottom: 10px;
}
.shimmer-ad-image-line {
    height: 100px;
    margin-bottom: 10px;
}
.shimmer-square-image-line {
    height: 70px;
    margin-bottom: 10px;
}
.shimmer-large-square-image-line {
    height: 140px;
    margin-bottom: 10px;
}
